setuptools

# FastAPI et Uvicorn pour l'API
fastapi
uvicorn

# Bibliothèques pour la manipulation des données
pandas
numpy

# Bibliothèque pour la sérialisation des objets Python
pydantic

# Bibliothèque pour la sérialisation et la désérialisation des objets Python
pickle4

# Bibliothèque pour le threading (si nécessaire)
threading

# Bibliothèque pour la gestion des modèles de machine learning
scikit-learn

# Bibliothèque pour la gestion des fichiers joblib
joblib

#streamlit
streamlit
